@font-face {
    font-family: 'Abel';
    src: url('../fonts/Abel-Regular.woff2') format('woff2'),
        url('../fonts/Abel-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
